@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Thin.TTF");
    font-weight: 100;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-ThinItalic.TTF");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-ExtraLight.TTF");
    font-weight: 200;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-ExtraLightItalic.TTF");
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Light.TTF");
    font-weight: 300;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-LightItalic.TTF");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Regular.TTF");
    font-weight: 400;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Italic.TTF");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Medium.TTF");
    font-weight: 500;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-MediumItalic.TTF");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-SemiBold.TTF");
    font-weight: 600;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-SemiBoldItalic.TTF");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Bold.TTF");
    font-weight: 700;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-BoldItalic.TTF");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-ExtraBold.TTF");
    font-weight: 800;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-ExtraBoldItalic.TTF");
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-Black.TTF");
    font-weight: 900;
}
@font-face {
    font-family: "Kanit";
    src: url("../fonts/Kanit-BlackItalic.TTF");
    font-weight: 900;
    font-style: italic;
}