body, input, button, select, textarea {
	font-family: "Kanit";
	color: #FFF;
	background-image: url('../../assets/images/bg.jpg');
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
	max-width: 100%;
	height: auto;
}

a {				
	color: #FFF;
	text-decoration: none;
}
a:hover, a:focus {
	color: $hoverColor;
}

* {
	box-sizing: border-box;
}

.flatpickr-calendar, .flatpickr-time input {
	font-size: 18px;
}