.content {
    font-size: 1.5rem;
    position: relative;

    &__menu {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;

        @mixin atSmall {
            display: flex;
            justify-content: space-around;
            align-content: stretch;
        }

        a {
            width: 100%;
        }

        li {
            position: relative;
            list-style: none;
            font-size: 1.8rem;
            width: 100%;
            padding: 20px 15px 15px 15px;
            text-align: center;
            background:linear-gradient(to top, $gradientLow, #333);
            border-bottom: 2px solid #000;
            border-left: 0.5px solid #000;
            border-right: 0.5px solid #000;
            height: 100%;

            display: none;

            @mixin atSmall {
                display: block;
            }
        }

        li.active,li:hover,li:focus {
            background: linear-gradient(to bottom, $gradientLow 50%, $gradientHigh);
            color: $hoverColor;
            display: block;

            .stripe-border {
                display: block;
            }
        }

        li.mobile--open {
            display: block;
        }

        &--toggle {
            display: block !important;
            padding: 0px !important;

            @mixin atSmall {
                display: none !important;
            }
        }
    }

    &__main {

        section {
            display: none;
        }

        &--active {
            display: block !important;
        }
        &--active-flex {
            display: flex !important;
        }
    }

    &__text {
        position: relative;
        padding: 0 30px 30px 30px;

        li {
            list-style-type: square;
            color: #FFF;
        }

        li>span {
            color: #FFF;
        }

        .stripe-border {
            display: block;
        }
    }
}