.row {
	
	@mixin clearfix;
	
	&--gutters {
		margin-right: -10px;
	}

	&--gutters > div {
		padding-right: 10px;

		/*height: 150px;*/
	}

	&__3 {
		@mixin atSmall {
			float: left;
			width: 25%;
		}
	}

	&__4 {
		@mixin atSmall {
			float: left;
			width: 33.33%;
		}
	}
	
	&__8 {
		@mixin atSmall {
			float: left;
			width: 66.66%;
		}
	}
}